body {
	background-color: #999;
	font-family:"Myriad Web Pro","Helvetica Neue",Helvetica,Lucida,Verdana,sans-serif;
}

#header img {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.copyright {
	text-align: center;
}

#footer p {
	font-size: 0.625em;
	text-align: center;
}

td a {
	text-align: center;
	text-decoration: none;
	color: black;
}

td img {
	width: 18.75em;
	height: 12.5em;
}